.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Continuous feedback
    %p
      You cannot fix what you cannot see. With GitLab, you can continuously visualize
      the status of your
      %a{href: "https://docs.gitlab.com/ee/ci/environments/#view-environments-and-deployments"}environments and deployments
      (past, current and upcoming).
      You can also measure how your deployment is performing (via
      %a{href: "https://docs.gitlab.com/ee/user/project/merge_requests/browser_performance_testing.html"}browser performance testing,
      %a{href: "https://docs.gitlab.com/ee/operations/metrics/"}performance monitoring
      and
      %a{href: "https://docs.gitlab.com/ee/operations/tracing.html"}tracing
      ),
      %a{href: "https://docs.gitlab.com/ee/ci/environments/#retrying-and-rolling-back"}rollback deployment based on performance
      (via post deployment monitoring), and achieve a feedback loop (via
      %a{href: "https://docs.gitlab.com/ee/operations/incident_management/"}incident management
      ).


  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/ihdxpO5rgSc", :width => "500"}
